<footer class="no-print-this-part">
<div class="row">
    <div class="col-md-6">
        &copy;
        <a href="https://wwsc.de/thalamus/">
            WWSC Märkte und Medien GmbH
        </a>
        {{ 'now'|date('Y') }}
    </div>
    <div class="col-md-6">
        <ul class="list-inline left">
            <li><a href="http://blog.thalamus.io/datenschutzerklaerung/" target="_blank">Datenschutzerklärung</a></li>
            <li><a href="http://blog.thalamus.io/impressum/" target="_blank">Impressum</a></li>
        </ul>
    </div>
</div>
</footer>
