<h2>Welcome to Thalamus</h2>
<p>
    Hi {{ first_name }}.
</p>
<p>
    Important account information from thalamus.io:<br>
    <br>
    <b>Sign in to your account:</b><br>
    <a href="{{ url }}">{{ url }}</a>
    <br>Username: <b>{{ username }}</b>
<p>