<h2>Herzlich Willkommen bei Thalamus</h2>
<p>
    Hallo {{ first_name }}.
</p>
<p>
    Es liegen wichtige Informationen zu Ihrem Thalamus Account vor.<br>
    <br>
    <b>Bitte loggen Sie sich in Ihren Account ein:</b><br>
    <a href="{{ url }}">{{ url }}</a>
    <br>Benutzername: <b>{{ username }}</b>
<p>
