{% extends "WWSCThalamusBundle:Content:layout.html.twig" %}
{% block title %}
    {{ nameProject}} - {% trans %}All Messages{% endtrans %}
{% endblock %} 
{% block content %}
    <div class="row blank-slate">
        <div class="modal-dialog">
            <div class="col-md-4">
                <img src="{{ asset('bundles/wwscthalamus/images/blankslate-icon-messages.png') }}">
            </div>
            <div class="col-md-8">
                <h1>{% trans %}Ready to post the first message to this project?{% endtrans %}</h1>
                <p>{% trans %}Messages are used to discuss ideas, ask questions, or post announcements about a project. Messages are like emails except they don't clutter your inbox.{% endtrans %}</p>
                <div class="btn-add-new-task">
                    <a href="{{ path('wwsc_thalamus_project_message_add',{project:slugProject})}}" class="btn btn-default btn-md">
                        <i class="glyphicon glyphicon-plus"></i> {% trans %}Create new Message{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}       
