{% extends "WWSCThalamusBundle:Content:layout.html.twig" %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <div class="row search-page">
        <div class="panel panel-default col-md-9 task-item-comments-wrapper">
            <div class="panel-heading col-xs-12">
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>{% trans %}This task does not exist{% endtrans %}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
